<button id="toggleSideBar" class="btn btn-info" (click)="toggleSideBar()" style="display: none;">
    <span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span>
</button>

<div id="sideBar" style="display: none;">

    <div id="topArea">
        <button *ngIf="orgUnits !== undefined" type="button" class="btn btn-primary" style="float: right;" (click)="toggleFilter()">
            Filter
        </button>

        <button *ngIf="orgUnits !== undefined" type="button" class="btn btn-primary" style="margin-left: 100px;" (click)="refreshOrgUnits()">
            Refresh
        </button>
            
        <br>
        <h3 style="text-align: center;">Search results </h3>

        <button *ngIf="hasPreviousStackFrame()" type="button" class="btn btn-primary btn-md btn-block" aria-label="Left Align" (click)="goToPreviousOrgUnits()">
            <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Return to previous organisation units
        </button>
    </div>

    <div id="orgUnitArea">
        <div *ngIf="orgUnits === undefined" id="noSearchResults">
            <hr/>  
            <p>No organisation units matched the given search parameters</p>
        </div>

        <div *ngIf="orgUnits !== undefined">
            <accordion>
                <div *ngFor="let orgUnit of displayedOrgUnits; let myIndex = index">
                    <div id={{orgUnit.id}}>
                        <accordion-group orgUnitId={{orgUnit.id}}>
                            <accordion-heading>
                                {{orgUnit.displayName}}
                            </accordion-heading>
                            <span style="cursor: auto;">
                                <button id="#zoomToChildrenButton" class="btn btn-info" (click)="onGetChildrenClicked(orgUnit.id)">Children</button>
                                <button id="#editOrgUnitButton" class="btn btn-info" (click)="onEditOrgUnitOpen(orgUnit.id)">Edit</button>
                                <button id="#deleteOrgUnitButton" class="btn btn-info" (click)="deleteOrgUnit(orgUnit.id)">Delete</button>
                                <ul style="margin-top: 10px;">
                                    <li><strong>ID:</strong> {{orgUnit.id}}</li>
                                    <li><strong>Level:</strong> {{orgUnit.level}} - {{globals.getName(orgUnit.level)}}</li>
                                    <li><strong>Feature type:</strong> {{orgUnit.featureType}}</li>
                                    <li *ngIf="orgUnit.parent"><strong>Parent:</strong><br/>
                                        <ul>
                                            <li><strong>ID: </strong>{{orgUnit.parent.id}}</li>
                                        </ul>
                                    </li>
                                    <li><strong>Created:</strong> {{globals.formatDate(orgUnit.created)}}</li>
                                    <li><strong>Opening:</strong> {{globals.formatDate(orgUnit.openingDate)}}</li>
                                    <li><strong>Updated:</strong> {{globals.formatDate(orgUnit.lastUpdated)}}</li>
                                    <li><strong>Groups:</strong><br>
                                        <ul>
                                            <div *ngFor="let group of orgUnit.organisationUnitGroups">
                                                <li>{{globals.getOrgGroupName(group.id)}}</li>
                                            </div>
                                        </ul>
                                    </li>
                                    <li><strong>Coords:</strong> {{orgUnit.coordinates}}</li>
                                </ul>
                            </span>
                        </accordion-group>
                    </div>
                </div>
            </accordion>
        </div>
    
    </div>

   
</div>



<div id="editOrgUnitArea" class="edit-org-unit container-fluid">
    <div class="edit-org-unit-content">
        <span class="edit-org-unit-close">x</span>
        <h1>Edit an organisation unit</h1>
        <p>Here you can edit an organisation unit</p>
        <p>Enter data in the fields, draw the org unit, and click save</p>
        <br>
        
        <form (ngSubmit)="onEditOrgUnitSubmit()" #editOrgUnitForm="ngForm">
                
            <div class="form-group row">
                <label class="col-lg-2 col-form-label">Name</label>
                <div class="col-lg-10">
                    <input class="form-control" type="text" required
                        [(ngModel)]="selectedOrgUnit.name" name="name">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-lg-2 col-form-label">Coordinates</label>
                <div class="col-lg-7">
                    <textarea class="form-control" rows="4" readonly
                        [(ngModel)]="selectedOrgUnit.coordinates" name="coordinates"></textarea>
                </div>
                <div class="col-lg-3">
                    <button *ngIf="canDrawOrgUnitPolygon()" type="button" class="btn btn-success" aria-label="Left Align" (click)="drawOrgUnitPolygon()">
                        Draw org unit
                    </button>
                </div>
                <span style="padding: 7px;"></span>
                <div class="col-lg-3">
                    <button *ngIf="canDrawOrgUnitMarker()" type="button" class="btn btn-success" aria-label="Left Align" (click)="drawOrgUnitMarker()">
                        Set marker
                    </button>
                </div>

                <div class="col-lg-3">
                    <button *ngIf="canClearCoordinates()" type="button" class="btn btn-warning" aria-label="Left Align" (click)="clearCoordinates()">
                        Clear coordinates
                    </button>
                </div>
            </div>

             <div class="form-group row" *ngIf="selectedOrgUnit.parent">
                 <label class="col-lg-2 col-form-label">Parent ID</label>
                 <div class="col-lg-10">
                     <input class="form-control" type="text" readonly
                         [(ngModel)]="selectedOrgUnit.parent.id" name="parent">
                 </div>
             </div>


            <input type="button" value="Cancel" class="btn btn-primary" id="cancelOrgUnitButton" (click)="onEditOrgUnitCancel()">
            <input style="float: right;" type="submit" value="Save changes" id="editOrgUnitButton" 
                    class="btn btn-primary" [disabled]="!editOrgUnitForm.form.valid">
        </form>

        <br />
        <div *ngIf="saveSuccess === true">
            <div class="alert alert-success">
                <strong>Success:</strong> The organisation unit was successfully updated.
            </div>
            <button type="button" class="btn btn-success" aria-label="Left Align" (click)="refreshOrgUnits(true)">
                Refresh org units
            </button>
        </div>

        <div *ngIf="saveSuccess === false" class="alert alert-danger">
            <strong>Error:</strong> Unable to update the organisation unit. Please try again.
        </div>

    </div>
</div>


<div id="editOrgUnitPanelArea" style="display: none;">
    <p>Here you can draw an organisation unit by using the options at the right</p>
    <p>Draw the org unit, and either hit Save or Cancel</p>
    <button id="saveDrawnOrgUnitButton" class="btn btn-info" (click)="saveDrawnOrgUnit()">Save</button>
    <button id="cancelDrawnOrgUnitButton" class="btn btn-info" (click)="cancelDrawnOrgUnit()">Cancel</button>
</div>


<div id="filterArea" style="display: none;">
    <h2>Filter search results</h2>

    <hr style="height:1px ;border:none; color:silver; background-color: silver;" />
    
    <form (ngSubmit)="applyFilter()" #optionsForm="ngForm">
    
        <div class="form-group row">
            <label for="example-text-input" class="col-xs-2 col-form-label">Name: </label>
            <div class="col-xs-10">
                <input class="form-control" type="text" [(ngModel)]="filterOptions.name" name="filterOptionsName">
            </div>
        </div>


        <div class="form-group row">
            <label for="example-text-input" class="col-sm-2 col-form-label">Filter: </label>
            <div class="col-xs-10">
                <select class="form-control" [(ngModel)]="filterOptions.nameFilterType" name="filterOptionsNameFilterType">
                    <option value="startsWith">Starts with</option> 
                    <option value="endsWith">Ends with</option> 
                    <option value="includes">Includes</option> 
                    <option value="equals">Equals</option> 
                </select>
            </div>
        </div>

        <hr style="height:1px ;border:none; color:silver; background-color: silver;" />

        <div class="form-group row">
            <label id="labelText" class="col-sm-2 col-form-label-lg">Level</label>
            <div class="col-xs-10">
                <select class="form-control" id="exampleSelect1" [(ngModel)]="filterOptions.level" name="filterOptionsLevel">
                    <option value="All">All</option> 
                    <option *ngFor="let item of orgUnitLevels; let i = index" value="{{item.level}}">{{item.name}}</option>               
                </select>
            </div>
        </div>

        <hr style="height:1px ;border:none; color:silver; background-color: silver;" />


        <label id="labelText" class="col-form-label-lg">Organisation unit groups</label>
        <br/>


            <ss-multiselect-dropdown [options]="orgUnitGroups" [texts]="selectBoxTexts" [settings]="selectBoxSettings" 
                                     [(ngModel)]="filterOptions.orgUnitGroups" name="orgUnitGroups">
            </ss-multiselect-dropdown>


                  


        <hr style="height:1px ;border:none; color:silver; background-color: silver;" />

        <button *ngIf="filterApplied" type="reset" class="btn btn-danger" (click)="clearFilter()">
            Clear filter
        </button>

        <button type="submit" class="btn btn-success">
            Apply filter
        </button>
        

    </form>



</div>