<button id="toggleSideBar" class="btn btn-info" (click)="toggleSideBar()" style="display: none;">
    <span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span>
</button>

<div id="sideBar" style="display: none;">

    <div id="topArea">
        <button *ngIf="orgUnits !== undefined" type="button" class="btn btn-primary" style="float: right;" (click)="toggleFilter()">
            Filter
        </button>
            
        <br>
        <h3 style="text-align: center;">Search results </h3>

        <button *ngIf="hasPreviousStackFrame()" type="button" class="btn btn-primary btn-md btn-block" aria-label="Left Align" (click)="goToPreviousOrgUnits()">
            <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Return to previous organisation units
        </button>
    </div>

    <div id="orgUnitArea">
        <div *ngIf="orgUnits === undefined" id="noSearchResults">
            <hr/>  
            <p>No organisation units matched the given search parameters</p>
        </div>

        <div *ngIf="orgUnits !== undefined">
            <accordion>
                <div *ngFor="let orgUnit of displayedOrgUnits; let myIndex = index">
                    <div id={{orgUnit.id}}>
                        <accordion-group orgUnitId={{orgUnit.id}}>
                            <accordion-heading>
                                {{orgUnit.displayName}}
                            </accordion-heading>
                            <span style="cursor: auto;">
                                <button id="#zoomToChildrenButton" class="btn btn-info" (click)="onGetChildrenClicked(orgUnit.id)">Children</button>
                                <button id="#editOrgUnitButton" class="btn btn-info" (click)="onEditOrgUnitOpen(orgUnit.id)">Edit</button>
                                <button id="#deleteOrgUnitButton" class="btn btn-info" (click)="deleteOrgUnit(orgUnit.id)">Delete</button>
                                <ul>
                                    <li>ID: {{orgUnit.id}}</li>
                                    <li>Level: {{orgUnit.level}}</li>
                                    <li>Coordinates: {{orgUnit.coordinates}}</li>
                                </ul>
                            </span>
                        </accordion-group>
                    </div>
                </div>
            </accordion>
        </div>
    
    </div>

   
</div>



<div id="editOrgUnitArea" class="edit-org-unit container-fluid">
    <div class="edit-org-unit-content">
        <span class="edit-org-unit-close">x</span>
        <h1>Edit an organisation unit</h1>
        <p>Here you can edit an organisation unit</p>
        <p>Enter data in the fields, draw the org unit, and click save</p>
        <br>
        
        <form (ngSubmit)="onEditOrgUnitSubmit()" #editOrgUnitForm="ngForm">
                
            <div class="form-group row">
                <label class="col-lg-2 col-form-label">Name</label>
                <div class="col-lg-10">
                    <input class="form-control" type="text" required
                        [(ngModel)]="selectedOrgUnit.name" name="name">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-lg-2 col-form-label">Coordinates</label>
                <div class="col-lg-7">
                    <textarea class="form-control" rows="4" readonly
                        [(ngModel)]="selectedOrgUnit.coordinates" name="coordinates"></textarea>
                </div>
                <div class="col-lg-3">
                    <button *ngIf="canDrawOrgUnitPolygon()" type="button" class="btn btn-success" aria-label="Left Align" (click)="drawOrgUnitPolygon()">
                        Draw org unit
                    </button>
                </div>
                <span style="padding: 7px;"></span>
                <div class="col-lg-3">
                    <button *ngIf="canDrawOrgUnitMarker()" type="button" class="btn btn-success" aria-label="Left Align" (click)="drawOrgUnitMarker()">
                        Set marker
                    </button>
                </div>

                <div class="col-lg-3">
                    <button *ngIf="canClearCoordinates()" type="button" class="btn btn-warning" aria-label="Left Align" (click)="clearCoordinates()">
                        Clear coordinates
                    </button>
                </div>
            </div>

             <div class="form-group row">
                 <label class="col-lg-2 col-form-label">Parent ID</label>
                 <div class="col-lg-10">
                     <input class="form-control" type="text" readonly required
                         [(ngModel)]="selectedOrgUnit.parent.id" name="parent">
                 </div>
             </div>


            <input type="button" value="Cancel" class="btn btn-primary" (click)="onEditOrgUnitCancel()">
            <input style="float: right;" type="submit" value="Save changes" class="btn btn-primary" [disabled]="!editOrgUnitForm.form.valid">
        </form>
    </div>
</div>


<div id="editOrgUnitPanelArea" style="display: none;">
    <p>Here you can draw an organisation unit by using the options at the right</p>
    <p>Draw the org unit, and either hit Save or Cancel</p>
    <button id="saveDrawnOrgUnitButton" class="btn btn-info" (click)="saveDrawnOrgUnit()">Save</button>
    <button id="cancelDrawnOrgUnitButton" class="btn btn-info" (click)="cancelDrawnOrgUnit()">Cancel</button>
</div>


<div id="filterArea" style="display: none;">
    <h2>Filter search results</h2>
    
    <form (ngSubmit)="applyFilter(name.value, nameFilter.value, level.value)" #optionsForm="ngForm">
    
        <div class="form-group row">
            <label for="example-text-input" class="col-xs-2 col-form-label">Name: </label>
            <div class="col-xs-10">
                <input class="form-control" type="text" #name>
            </div>
        </div>


        <div class="form-group row">
            <label for="example-text-input" class="col-sm-2 col-form-label">Filter: </label>
            <div class="col-xs-10">
                <select class="form-control" id="exampleSelect1" #nameFilter>
                    <option value="startsWith">Starts with</option> 
                    <option value="endsWith">Ends with</option> 
                    <option value="includes">Includes</option> 
                    <option value="equals">Equals</option> 
                </select>
            </div>
        </div>

        <hr>

        <div class="form-group row">
            <label id="labelText" class="col-sm-2 col-form-label-lg">Level</label>
            <div class="col-xs-10">
                <select class="form-control" id="exampleSelect1" #level>
                    <option value="All">All</option> 
                    <option *ngFor="let item of orgUnitLevels; let i = index" value="{{item.level}}">{{item.name}}</option>               
                </select>
            </div>
        </div>

        <hr>

        <button *ngIf="filterApplied" type="reset" class="btn btn-danger" (click)="clearFilter()">
            Clear filter
        </button>

        <button type="submit" class="btn btn-success">
            Apply filter
        </button>
        

    </form>



</div>