<button id="toggleSideBar" class="btn btn-info" (click)="toggleSideBar()">Toggle</button>
<div id="sideBar">
    <h3 style="text-align: center;">Search results </h3>
    <div id="notaccordion" *ngIf="orgUnits !== undefined">
        <div class="container">
            <div class="panel-group" id="accordion">
                
                <div *ngFor="let orgUnit of orgUnits; let myIndex = index">
                    <div id={{orgUnit.id}}>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <a data-toggle="collapse" href="{{collapsList2[myIndex]}}">
                                    <h4 class="panel-title" (click)="sideBarClicked(orgUnit.id)">{{orgUnit.displayName}}</h4>
                                </a>
                            </div>
                            <div id={{collapsList1[myIndex]}} class="panel-collapse collapse">
                                <div class="panel-body">
                                    <ul class="collapsibleList" #test>
                                        <li>ID: {{orgUnit.id}}</li>
                                        <li>Level: {{orgUnit.level}}</li>
                                        <li>Coordinates: {{orgUnit.coordinates}}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>