#sideBar {
    position: absolute;
    top: 240px;
    left: 20px;
    bottom: 0px;
    right: 0px;
    width: 300px;
    text-align: left;
    padding-left: 10px;
    z-index: 1000;
    background-color: white;
    min-height: 20%;
    height: 50%;
    max-height: 100%;
    overflow-y: auto;
    border-radius: 5px;
}

h3.center {
    text-align: center;
}

