#sideBar {
    position: absolute;
    top: 120px;
    left: 20px;
    bottom: 50px;

    width: 300px;
    z-index: 1000;
    background-color: white;

    //height: 820px;

    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 5px;
}

h3.center {
    text-align: center;
}

#toggleSideBar {
    position: absolute;
    top: 120px;
    left: 20px;
    bottom: 0px;
    right: 0px;
    z-index: 10001;
    height: 35px;
}

#noSearchResults {
    padding: 0 15px;
    text-align: center;
}
