
.search-result{
  border-bottom: 1px solid gray;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  width: 200px;
  height: 20px;
  padding: 5px;
  background-color: white;
  cursor: pointer;
}
#search-box {
  position: absolute;
  left: 20px;
  right: 0px;
  bottom: 0px;
  top: 20px;
  z-index: 1000;
  width: 320px;
}

#search-button {
  position: absolute;
  left: 350px;
  right: 0px;
  bottom: 0px;
  top: 20px;
  z-index: 1000;
  width: 100px;
  height: 35px;
}

#advanced-search-button {
  position: absolute;
  left: 460px;
  right: 0px;
  bottom: 0px;
  top: 20px;
  z-index: 1000;
  width: 180px;
  height: 35px;
}

#empty-search-button {
  position: absolute;
  left: 90px;
  right: 0px;
  bottom: 0px;
  top: 87px;
  z-index: 1000;
  width: 150px;
  height: 35px;
}

#advancedSearchDiv {
  position: absolute;
  left: 20px;
  right: 0px;
  bottom: 0px;
  top: 55px;
  width: 320px;
  height: 130px;
  z-index: 1000;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
}


