
.search-result{
  border-bottom: 1px solid gray;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  width: 200px;
  height: 20px;
  padding: 5px;
  background-color: white;
  cursor: pointer;
}
#search-box {
  position: absolute;
  left: 20px;
  right: 0px;
  bottom: 0px;
  top: 70px;
  z-index: 1000;
  width: 300px;
}

#search-button {
  position: absolute;
  left: 330px;
  right: 0px;
  bottom: 0px;
  top: 70px;
  z-index: 1000;
  width: 100px;
  height: 35px;
}

#advanced-search-button {
  position: absolute;
  left: 450px;
  right: 0px;
  bottom: 0px;
  top: 70px;
  z-index: 1000;
  width: 150px;
  height: 35px;
}