<div id="toggleOrgUnitGroupsButton">
    <button type="button" class="btn btn-primary" aria-label="Left Align" (click)="toggleOrgUnitGroups()">
        Organisation unit groups
    </button>
</div>

<div id="orgUnitGroupsArea" class="org-unit-groups">
    <div class="org-unit-groups-content">
        <span class="org-unit-groups-close">x</span>
        
        <h1>Manage organisation unit groups</h1>
        <p>Here you can view, edit, delete and add organisation unit groups</p>

<!--     
<ul class="treeView">
        <li>
          Collapsible lists
          <ul class="collapsibleList">
            <li>
              Actions
              <ul>
                <li>
                  Creation
                  <ul>
                    <li>apply()</li>
                    <li class="lastChild">applyTo(node)</li>
                  </ul>
                </li>
                <li class="lastChild">
                  Toggling
                  <ul>
                    <li>Expanding/opening</li>
                    <li class="lastChild">Collapsing/closing</li>
                  </ul>
                </li>
              </ul>
            </li>
            <li class="lastChild">
              Uses
              <ul>
                <li>Directory listings</li>
                <li>Tree views</li>
                <li class="lastChild">Outline views</li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
-->





        
        







		
		
        
        
        <accordion [closeOthers]="false">

            <div *ngFor="let group of orgUnitGroups; let myIndex = index">
                <div id="{{group.id}}">
                    <accordion-group orgUnitGroupId="{{group.id}}" orgUnitGroupIndex={{myIndex}}>
                        <accordion-heading>{{myIndex + 1}} - {{group.name}}</accordion-heading>
                        <p><strong>Code:</strong> {{group.code}} | <strong>ID:</strong> {{group.id}}
                        <p>Org units</p>
                        <div *ngIf="orgUnitGroups.length > 0">
                            <select class="form-control">
                                <option *ngFor="let orgUnit of orgUnitGroups[myIndex].orgUnitArray; let i = index" 
                                        value="{{orgUnit.name}">{{orgUnit.name}}</option>               
                            </select>
                        </div>



                        <p>Org units</p>
                        <ul *ngFor="let a of orgUnits; let myIndex = index" class="org-unit-traversel">
                            <li>
                                <span style="display: none;">{{myIndex}}|-1|</span>
                                <span class="glyphicon glyphicon glyphicon glyphicon-plus"></span>  
                                {{a.name}}
                            </li>
                        </ul>

            
                    </accordion-group>
                </div>

            </div>

        </accordion>




    </div>
</div>