<div id="toggleOrgUnitGroupsButton">
    <button type="button" class="btn btn-primary" aria-label="Left Align" (click)="toggleOrgUnitGroups()">
        Organisation unit groups
    </button>
</div>

<div id="orgUnitGroupsArea" class="org-unit-groups">
	<div class="org-unit-groups-content">
        <span class="org-unit-groups-close">x</span>
        
		<h1>Manage organisation unit groups</h1>

		<div class="form-group row">
			<div class="col-xs-7">
				<p>Here you can view, edit, delete and <br>
					add organisation unit groups	</p>
			</div>

			<div class="col-xs-2">
				<a href="#addOrgUnitGroupForm">
					<button type="button" class="btn btn-primary pull-right" aria-label="Left Align">
						Go to add org unit group form
					</button>
				</a>
			</div>

			<div class="col-xs-3">
				<button type="button" class="btn btn-primary pull-right" aria-label="Left Align" (click)="refreshOrgunitGroups()">
					Refresh org unit groups
				</button>
			</div>
		</div>


        <accordion [closeOthers]="false">
            <div *ngFor="let group of orgUnitGroups; let myIndex = index">
                <div id="{{group.id}}">
                    <accordion-group orgUnitGroupId="{{group.id}}" orgUnitGroupIndex={{myIndex}}>
                        <accordion-heading>{{myIndex + 1}} - {{group.name}}</accordion-heading>
  
						<div class="col-lg-6">
							<h3>Edit org unit group</h3>
							<p>Select the org units you want in the list, and click "remove" to remove them</p>

							<div *ngIf="orgUnitGroups[myIndex].orgUnitArray">
								<div *ngIf="orgUnitGroups[myIndex].orgUnitArray.length > 0">
									<form>
										<div class="form-group row">
											<div class="col-xs-7">
												<select class="form-control" [(ngModel)]="selectedOrgUnitGroup.selectedFromExisting" name="selectedUnitsInGroup">
													<option *ngFor="let orgUnit of orgUnitGroups[myIndex].orgUnitArray;" value="{{orgUnit.name}}">{{orgUnit.name}}</option>               
												</select>
											</div>

											<div class="col-xs-2">
												<button type="button" class="btn btn-warning" aria-label="Left Align" (click)="removeOrgUnit()">
													Remove
												</button>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
							
						<div class="col-lg-6">
							<h3>Add org units to org unit group</h3>
							<p>To add new org units, enter a name and search in the field below.
                               You can choose which ones you want to add from the search result</p>

                        	<form id="searchOrgUnitForm" (ngSubmit)="searchOrgUnit()">
								<div class="form-group row">
									<div class="col-xs-8">
										<input type="text" class="form-control" placeholder=" Enter name of an organisation unit ..." 
												[(ngModel)]="selectedOrgUnitGroup.searchTerm" name="searchOrgUnitBar">
									</div>
									
									<div class="col-xs-2">
										<input type="submit" value="Search" class="btn btn-primary">
									</div>
								</div>
        					</form>

							<div *ngIf="selectedOrgUnitGroup.searchResults.length > 0">
								<form>
									<div class="form-group row">
										<div class="col-xs-9">
											<select class="form-control" [(ngModel)]="selectedOrgUnitGroup.selectedFromSearch" name="selectedUnitsInGroup">
												<option *ngFor="let orgUnit of selectedOrgUnitGroup.searchResults;" value="{{orgUnit.name}}">{{orgUnit.name}}</option>               
											</select>
										</div>

										<div class="col-xs-2">
											<button type="button" class="btn btn-success" aria-label="Left Align" (click)="addOrgUnit()">
												Add
											</button>
										</div>
									</div>
								</form>
							</div>
						</div>
				
						<div class="col-lg-12">
							<div *ngIf="orgUnitGroupStatus === false" class="alert alert-danger">
								<strong>Error:</strong> {{orgUnitGroupMessage}}
							</div>

							<div *ngIf="orgUnitGroupStatus === true" class="alert alert-success">
								<strong>Success:</strong> {{orgUnitGroupMessage}}
							</div>
						</div>

						<div class="col-xs-10">
							<button type="button" class="btn btn-danger" aria-label="Left Align" (click)="onDeleteOrgUnitGroup()">
								Delete group
							</button>
						</div>
						<div class="col-xs-2">
							<button type="button" class="btn btn-success" aria-label="Left Align" (click)="onSaveOrgUnitGroup()">
								Save changes
							</button>
						</div>
						
                    </accordion-group>
                </div>

            </div>

        </accordion>


        <div id="addOrgUnitGroupForm">

			<form (ngSubmit)="onAddOrgUnitGroup()" #orgUnitGroupForm="ngForm">
				<h3>Add new org unit group </h3>
				<div class="form-group row">
					<label class="col-lg-1 col-form-label">Name: </label>
					<div class="col-lg-5">
						<input class="form-control" type="text" required
							   [(ngModel)]="newOrgUnitGroupName" name="angularNewOrgUnitGroupName">
					</div>
					
					<div class="col-lg-5">
						<input type="submit" value="Add" class="btn btn-success" [disabled]="!orgUnitGroupForm.form.valid">
					</div>
				</div>
        	</form>
        </div>
		

		<div *ngIf="newOrgUnitGroupStatus === false" class="alert alert-danger">
			<strong>Error:</strong> {{newOrgUnitGroupMessage}}
		</div>

		<div *ngIf="newOrgUnitGroupStatus === true" class="alert alert-success">
			<strong>Success:</strong> {{newOrgUnitGroupMessage}}
		</div>

      	<button type="button" class="btn btn-primary pull-right" aria-label="Left Align" (click)="onCancel()">
        	Close
    	</button>
		
  
		<br>
		<br>

    </div>
</div>



<div id="confirmDeleteArea" class="confirm-delete">
    <div class="confirm-delete-content">
        <div class="alert alert-danger" role="alert">
            Are you sure you want to delete organisation unit group  '{{selectedOrgUnitGroup.orgUnitGroup.name}}'?
            <span style="float: right; margin-top: -7px;">
                <button type="button" class="btn btn-primary" aria-label="Left Align" (click)="confirmDelete(false)">No</button>
                <button type="button" class="btn btn-primary" aria-label="Left Align" (click)="confirmDelete(true)">Yes</button>
            </span>
        </div>
    </div>
</div>