<button id="addOrgUnitButton" type="button" class="btn btn-success" aria-label="Left Align" (click)="openAddOrgUnitForm()">
    <span class="glyphicon glyphicon-plus" aria-hidden="true" style="padding-right: 7px;"></span>Add org unit
</button>


<div id="addOrgUnitArea" class="add-org-unit container-fluid">
    <div class="add-org-unit-content">
        <span class="add-org-unit-close">x</span>
        <h1>Add an organisation unit</h1>
        <p>Here you can add an organisation unit</p>
        <p>Enter data in the fields, draw the org unit, and click save</p>
        <br>
        
        <form (ngSubmit)="onSubmit()" #addOrgUnitForm="ngForm">
                
            <div class="form-group row">
                <label class="col-lg-2 col-form-label">Name</label>
                <div class="col-lg-10">
                    <input class="form-control" type="text" required
                        [(ngModel)]="orgUnit.name" name="name">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-lg-2 col-form-label">Coordinates</label>
                <div class="col-lg-7">
                    <textarea class="form-control" rows="4" readonly
                        [(ngModel)]="orgUnit.coordinates" name="coordinates"></textarea>
                </div>
                <div class="col-lg-3">
                    <button *ngIf="canDrawOrgUnitPolygon()" type="button" class="btn btn-success" aria-label="Left Align" (click)="drawOrgUnitPolygon()">
                        Draw org unit
                    </button>
                </div>
                <span style="padding: 7px;"></span>
                <div class="col-lg-3">
                    <button *ngIf="canDrawOrgUnitMarker()" type="button" class="btn btn-success" aria-label="Left Align" (click)="drawOrgUnitMarker()">
                        Set marker
                    </button>
                </div>

                <div class="col-lg-3">
                    <button *ngIf="canClearCoordinates()" type="button" class="btn btn-warning" aria-label="Left Align" (click)="clearCoordinates()">
                        Clear coordinates
                    </button>
                </div>
                
            </div>

             <div class="form-group row">
                 <label class="col-lg-2 col-form-label">Parent ID</label>
                 <div class="col-lg-10">
                     <input class="form-control" type="text" required
                         [(ngModel)]="orgUnit.parent.id" name="parent">
                 </div>
             </div>


            <input type="button" value="Cancel" id="orgUnitCancelButton" class="btn btn-primary" (click)="onCancel()">
            <input style="float: right;" type="submit" id="submitOrgUnitButton" value="Add org unit" 
                    class="btn btn-primary" [disabled]="!addOrgUnitForm.form.valid">
        </form>

        <br />
        <div *ngIf="saveSuccess === true">
            <div class="alert alert-success">
                <strong>Success:</strong> The organisation unit was successfully saved.
            </div>
        </div>

        <div *ngIf="saveSuccess === false" class="alert alert-danger">
            <strong>Error:</strong> {{errorMessage}}
        </div>

        <div *ngIf="newOrgUnitLevelNeeded === true">
            <p>You've tried to add a new organisation unit with a parent on the maximum level.</p>
            <p>You therefore need to fill in info about this new organisation unit level and submit it before saving the organisation unita</p>

            <form (ngSubmit)="addOrgUnitLevelSubmit()" #addOrgUnitLevelForm="ngForm">

                <div class="form-group row">
                    <label class="col-lg-2 col-form-label">Level</label>
                    <div class="col-lg-10">
                        <input class="form-control" type="number" min="1" required readonly
                            [(ngModel)]="orgUnitLevel.level" name="orgUnitLevelLevel">
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-lg-2 col-form-label">Name</label>
                    <div class="col-lg-10">
                        <input class="form-control" type="text" required 
                            [(ngModel)]="orgUnitLevel.name" name="orgUnitLevelname">
                    </div>
                </div>

                <div *ngIf="saveOrgUnitLevelSuccess === false" class="alert alert-danger">
                    <strong>Error:</strong> {{orgUnitLevelErrormessage}}
                </div>

                <div *ngIf="saveOrgUnitLevelSuccess === true" class="alert alert-success">
                    <strong>Success:</strong> The organisation unit level has been saved.
                    You can now add the organisation unit level.
                </div>

                <input type="submit" id="submitOrgUnitLevelButton" value="Add org unit level" 
                        class="btn btn-primary" [disabled]="!addOrgUnitLevelForm.form.valid">
            </form>
        
        </div>
    </div>
</div>


<div id="drawOrgUnitPanelArea" style="display: none;">
    <p>Here you can draw an organisation unit, either a polygon or a marker depending on your choice.</p>
    <p>Use the draw tools on the right, and either cancel or save when finished.</p>
    <button id="cancelDrawnOrgUnitButton" style="margin-right: 10px;" class="btn btn-warning" (click)="cancelDrawnOrgUnit()">Cancel</button>
    <button id="saveDrawnOrgUnitButton" style="margin-left: 10px;"  class="btn btn-success" (click)="saveDrawnOrgUnit()">Save</button>
</div>