<div id="optionsButton">
    <button type="button" class="btn btn-success" aria-label="Left Align" (click)="toggleOptionsWindow()">
        <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
    </button>
</div>



<div id="optionsArea" class="options">
        <div class="options-content">
            <span class="close">x</span>
            <h1>Options</h1>
            <p>Here you can change the fault behaviour of some parts of the application</p>
            <br>
            
            <form novalidate>
                <h3>Zoom Options</h3>
                <hr>
                <div class="form-group row">
                    <label for="example-text-input" class="col-xs-5 col-form-label">Auto zoom on search</label>
                    <div class="col-xs-7">
                        <select class="form-control" [(ngModel)]="self.tempOptions.autoZoomOnSearch" name="zoomOnSearchAnswer">
                            <option *ngFor="let option of booleanOptions" [value]="option">{{option}}</option>
                        </select>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="example-text-input" class="col-xs-5 col-form-label">Auto zoom when retrieving children</label>
                    <div class="col-xs-7">
                        <select class="form-control" [(ngModel)]="self.tempOptions.autoZoomOnGetChildren" name="zoomOnGetChildrenAnswer">
                            <option *ngFor="let option of booleanOptions" [value]="option">{{option}}</option>
                        </select>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="example-text-input" class="col-xs-5 col-form-label">Auto zoom when selecting an org unit</label>
                    <div class="col-xs-7">
                        <select class="form-control" [(ngModel)]="self.tempOptions.autoZoomOnSelect" name="zoomOnSelectAnswer">
                            <option *ngFor="let option of booleanOptions" [value]="option">{{option}}</option>
                        </select>
                    </div>
                </div>


                <h3>Map Options</h3>
                <hr>

                <accordion>
                    <div *ngFor="let orgUnit of constants.nameToLevelMapping; let myIndex = index">
                        <accordion-group orgUnitId={{orgUnit}}>
                            <accordion-heading> {{orgUnit}} </accordion-heading>

         
                            <div class="form-group row">
                                <label for="example-text-input" class="col-xs-5 col-form-label">Fill color</label>
                                <div class="col-xs-7">
                                    <input class="form-control" type="color"
                                            [(ngModel)]="self.tempOptions.mapOptions[myIndex].fillColor" name="{{index + fillColor}}">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="example-text-input" class="col-xs-5 col-form-label">Fill hover color</label>
                                <div class="col-xs-7">
                                    <input class="form-control" type="color"
                                            [(ngModel)]="self.tempOptions.mapOptions[myIndex].fillHoverColor" name="{{index + fillHoverColor}}">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="example-text-input" class="col-xs-5 col-form-label">Fill selected color</label>
                                <div class="col-xs-7">
                                    <input class="form-control" type="color"
                                            [(ngModel)]="self.tempOptions.mapOptions[myIndex].fillSelectedColor" name="{{index + fillSelectedColor}}">
                                </div>
                            </div>
                            <hr>
                            <div class="form-group row">
                                <label for="example-text-input" class="col-xs-5 col-form-label">Color</label>
                                <div class="col-xs-7">
                                    <input class="form-control" type="color"
                                            [(ngModel)]="self.tempOptions.mapOptions[myIndex].color" name="{{index + color}}">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="example-text-input" class="col-xs-5 col-form-label">Hover color</label>
                                <div class="col-xs-7">
                                    <input class="form-control" type="color"
                                            [(ngModel)]="self.tempOptions.mapOptions[myIndex].hoverColor" name="{{index + hoverColor}}">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="example-text-input" class="col-xs-5 col-form-label">Selected color</label>
                                <div class="col-xs-7">
                                    <input class="form-control" type="color"
                                            [(ngModel)]="self.tempOptions.mapOptions[myIndex].selectedColor" name="{{index + selectedColor}}">
                                </div>
                            </div>
                            <hr>
                            <div class="form-group row">
                                <label for="example-text-input" class="col-xs-5 col-form-label">Opacity</label>
                                <div class="col-xs-7">
                                    <input class="form-control" type="number"
                                            [(ngModel)]="self.tempOptions.mapOptions[myIndex].opacity" name="{{index + opacity}}">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="example-text-input" class="col-xs-5 col-form-label">Hover opacity</label>
                                <div class="col-xs-7">
                                    <input class="form-control" type="number"
                                            [(ngModel)]="self.tempOptions.mapOptions[myIndex].hoverOpacity" name="{{index + hoverOpacity}}">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="example-text-input" class="col-xs-5 col-form-label">Selected opacity</label>
                                <div class="col-xs-7">
                                    <input class="form-control" type="number"
                                            [(ngModel)]="self.tempOptions.mapOptions[myIndex].selectedOpacity" name="{{index + selectedOpacity}}">
                                </div>
                            </div>
                            <hr>
                            <div class="form-group row">
                                <label for="example-text-input" class="col-xs-5 col-form-label">Border weight</label>
                                <div class="col-xs-7">
                                    <input class="form-control" type="number"
                                            [(ngModel)]="self.tempOptions.mapOptions[myIndex].borderWeight" name="{{index + borderWeight}}">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="example-text-input" class="col-xs-5 col-form-label">Border hover weight</label>
                                <div class="col-xs-7">
                                    <input class="form-control" type="number"
                                            [(ngModel)]="self.tempOptions.mapOptions[myIndex].borderHoverWeight" name="{{index + borderHoverWeight}}">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="example-text-input" class="col-xs-5 col-form-label">Border selected weight</label>
                                <div class="col-xs-7">
                                    <input class="form-control" type="number"
                                            [(ngModel)]="self.tempOptions.mapOptions[myIndex].borderSelectedWeight" name="{{index + borderSelectedWeight}}">
                                </div>
                            </div>
                            <hr>
                            <div class="form-group row">
                                <label for="example-text-input" class="col-xs-5 col-form-label">Border opacity</label>
                                <div class="col-xs-7">
                                    <input class="form-control" type="number"
                                            [(ngModel)]="self.tempOptions.mapOptions[myIndex].borderOpacity" name="{{index + borderOpacity}}">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="example-text-input" class="col-xs-5 col-form-label">Border hover opacity</label>
                                <div class="col-xs-7">
                                    <input class="form-control" type="number"
                                            [(ngModel)]="self.tempOptions.mapOptions[myIndex].borderHoverOpacity" name="{{index + borderHoverOpacity}}">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="example-text-input" class="col-xs-5 col-form-label">Border selected opacity</label>
                                <div class="col-xs-7">
                                    <input class="form-control" type="number"
                                            [(ngModel)]="self.tempOptions.mapOptions[myIndex].borderSelectedOpacity" name="{{index + borderSelectedOpacity}}">
                                </div>
                            </div>

                        </accordion-group>
                    </div>
                </accordion>



                <input type="submit" value="Close" class="btn btn-primary" (click)="onClose()">
                <input type="submit" value="Save" class="btn btn-primary" (click)="onSave()">
                <input type="submit" value="Reset to default options" class="btn btn-primary" (click)="onReset()">
            </form>
                
        </div>
    </div>


