<div id="optionsButton">
    <button type="button" class="btn btn-warning" aria-label="Left Align" (click)="toggleOptionsWindow()">
        <span class="glyphicon glyphicon-cog" aria-hidden="true" style="padding-right: 7px;"></span>  Options
    </button>
</div>



<div id="optionsArea" class="options container-fluid">
        <div class="options-content">
            <span class="close">x</span>
            <h1>Options</h1>
            <p>Here you can change the fault behaviour of some parts of the application</p>
            <br>
            
            <form (ngSubmit)="onSave()" #optionsForm="ngForm">
                <h3>Zoom Options</h3>
                <hr>
                <div class="form-group row">
                    <label class="col-xs-5 col-form-label">Auto zoom on search</label>
                    <div class="col-xs-7">
                        <select class="form-control" [(ngModel)]="self.tempOptions.autoZoomOnSearch" name="zoomOnSearchAnswer">
                            <option *ngFor="let option of booleanOptions" [value]="option">{{option}}</option>
                        </select>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-xs-5 col-form-label">Auto zoom when retrieving children</label>
                    <div class="col-xs-7">
                        <select class="form-control" [(ngModel)]="self.tempOptions.autoZoomOnGetChildren" name="zoomOnGetChildrenAnswer">
                            <option *ngFor="let option of booleanOptions" [value]="option">{{option}}</option>
                        </select>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-xs-5 col-form-label">Auto zoom when selecting an org unit</label>
                    <div class="col-xs-7">
                        <select class="form-control" [(ngModel)]="self.tempOptions.autoZoomOnSelect" name="zoomOnSelectAnswer">
                            <option *ngFor="let option of booleanOptions" [value]="option">{{option}}</option>
                        </select>
                    </div>
                </div>


                <br>
                <br>
                <h3>Map Options</h3>
                <hr>


                <div class="form-group row">
                    <label class="col-lg-4 col-form-label"></label>

                    <div *ngFor="let orgUnit of constants.nameToLevelMapping; let myIndex = index" class="col-lg-1 col-lg-offset-1" style="text-align: left;">
                        <label>{{orgUnit}}</label>                        
                    </div>
                </div>

                <!-- COLOR -->
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <a data-toggle="collapse" href="#collapse1">
                                <h4 class="panel-title">Color</h4>
                            </a>
                        </div>
                        <div id="collapse1" class="panel-collapse collapse">
                            <div class="panel-body">
                                <!-- CONTENT START -->
                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label">Default</label>

                                    <div *ngFor="let orgUnit of constants.nameToLevelMapping; let myIndex = index" class="col-lg-1 col-lg-offset-1">
                                        <input class="form-control" type="color"
                                            [(ngModel)]="self.tempOptions.mapOptions[myIndex].color" name="{{myIndex + (constants.getNumOrgUnits() * 1)}}">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label">Hover</label>

                                    <div *ngFor="let orgUnit of constants.nameToLevelMapping; let myIndex = index" class="col-lg-1 col-lg-offset-1">
                                        <input class="form-control" type="color"
                                                [(ngModel)]="self.tempOptions.mapOptions[myIndex].hoverColor" name="{{myIndex + (constants.getNumOrgUnits() * 2)}}">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label">Selected</label>

                                    <div *ngFor="let orgUnit of constants.nameToLevelMapping; let myIndex = index" class="col-lg-1 col-lg-offset-1">
                                        <input class="form-control" type="color"
                                                [(ngModel)]="self.tempOptions.mapOptions[myIndex].selectedColor" name="{{myIndex + (constants.getNumOrgUnits() * 3)}}">
                                    </div>
                                </div>
                                <!-- CONTENT END -->
                            </div>
                        </div>
                    </div>
                </div>

                
                <!-- BORDER COLOR -->
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <a data-toggle="collapse" href="#collapse2">
                                <h4 class="panel-title">Border color</h4>
                            </a>
                        </div>
                        <div id="collapse2" class="panel-collapse collapse">
                            <div class="panel-body">
                                <!-- CONTENT START -->
                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label">Default</label>

                                    <div *ngFor="let orgUnit of constants.nameToLevelMapping; let myIndex = index" class="col-lg-1 col-lg-offset-1">
                                        <input class="form-control" type="color"
                                            [(ngModel)]="self.tempOptions.mapOptions[myIndex].borderColor" name="{{myIndex + (constants.getNumOrgUnits() * 4)}}">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label">Hover</label>

                                    <div *ngFor="let orgUnit of constants.nameToLevelMapping; let myIndex = index" class="col-lg-1 col-lg-offset-1">
                                        <input class="form-control" type="color"
                                                [(ngModel)]="self.tempOptions.mapOptions[myIndex].borderHoverColor" name="{{myIndex + (constants.getNumOrgUnits() * 5)}}">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label">Selected</label>

                                    <div *ngFor="let orgUnit of constants.nameToLevelMapping; let myIndex = index" class="col-lg-1 col-lg-offset-1">
                                        <input class="form-control" type="color"
                                                [(ngModel)]="self.tempOptions.mapOptions[myIndex].borderSelectedColor" name="{{myIndex + (constants.getNumOrgUnits() * 6)}}">
                                    </div>
                                </div>
                                <!-- CONTENT END -->
                            </div>
                        </div>
                    </div>
                </div>



                <!-- OPACITY -->
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <a data-toggle="collapse" href="#collapse3">
                                <h4 class="panel-title">Opacity</h4>
                            </a>
                        </div>
                        <div id="collapse3" class="panel-collapse collapse">
                            <div class="panel-body">
                                <!-- CONTENT START -->
                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label">Default</label>

                                    <div *ngFor="let orgUnit of constants.nameToLevelMapping; let myIndex = index" class="col-lg-1 col-lg-offset-1">
                                        <input class="form-control" type="number" min="0" max="1" step="0.05" required
                                            [(ngModel)]="self.tempOptions.mapOptions[myIndex].opacity" name="{{myIndex + (constants.getNumOrgUnits() * 7)}}">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label">Hover</label>

                                    <div *ngFor="let orgUnit of constants.nameToLevelMapping; let myIndex = index" class="col-lg-1 col-lg-offset-1">
                                        <input class="form-control" type="number" min="0" max="1" step="0.05" required
                                                [(ngModel)]="self.tempOptions.mapOptions[myIndex].hoverOpacity" name="{{myIndex + (constants.getNumOrgUnits() * 8)}}">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label">Selected</label>

                                    <div *ngFor="let orgUnit of constants.nameToLevelMapping; let myIndex = index" class="col-lg-1 col-lg-offset-1">
                                        <input class="form-control" type="number" min="0" max="1" step="0.05" required
                                                [(ngModel)]="self.tempOptions.mapOptions[myIndex].selectedOpacity" name="{{myIndex + (constants.getNumOrgUnits() * 9)}}">
                                    </div>
                                </div>
                                <!-- CONTENT END -->
                            </div>
                        </div>
                    </div>
                </div>



                <!-- BORDER OPACITY -->
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <a data-toggle="collapse" href="#collapse4">
                                <h4 class="panel-title">Border opacity</h4>
                            </a>
                        </div>
                        <div id="collapse4" class="panel-collapse collapse">
                            <div class="panel-body">
                                <!-- CONTENT START -->
                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label">Default</label>

                                    <div *ngFor="let orgUnit of constants.nameToLevelMapping; let myIndex = index" class="col-lg-1 col-lg-offset-1">
                                        <input class="form-control" type="number" min="0" max="1" step="0.05" required
                                            [(ngModel)]="self.tempOptions.mapOptions[myIndex].borderOpacity" name="{{myIndex + (constants.getNumOrgUnits() * 10)}}">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label">Hover</label>

                                    <div *ngFor="let orgUnit of constants.nameToLevelMapping; let myIndex = index" class="col-lg-1 col-lg-offset-1">
                                        <input class="form-control" type="number" min="0" max="1" step="0.05" required
                                                [(ngModel)]="self.tempOptions.mapOptions[myIndex].borderHoverOpacity" name="{{myIndex + (constants.getNumOrgUnits() * 11)}}">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label">Selected</label>

                                    <div *ngFor="let orgUnit of constants.nameToLevelMapping; let myIndex = index" class="col-lg-1 col-lg-offset-1">
                                        <input class="form-control" type="number" min="0" max="1" step="0.05" required
                                                [(ngModel)]="self.tempOptions.mapOptions[myIndex].borderSelectedOpacity" name="{{myIndex + (constants.getNumOrgUnits() * 12)}}">
                                    </div>
                                </div>
                                <!-- CONTENT END -->
                            </div>
                        </div>
                    </div>
                </div>




                <!-- BORDER WEIGHT -->
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <a data-toggle="collapse" href="#collapse5">
                                <h4 class="panel-title">Border weight</h4>
                            </a>
                        </div>
                        <div id="collapse5" class="panel-collapse collapse">
                            <div class="panel-body">
                                <!-- CONTENT START -->
                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label">Default</label>

                                    <div *ngFor="let orgUnit of constants.nameToLevelMapping; let myIndex = index" class="col-lg-1 col-lg-offset-1">
                                        <input class="form-control" type="number" min="0" max="1" step="0.05" required
                                            [(ngModel)]="self.tempOptions.mapOptions[myIndex].borderWeight" name="{{myIndex + (constants.getNumOrgUnits() * 13)}}">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label">Hover</label>

                                    <div *ngFor="let orgUnit of constants.nameToLevelMapping; let myIndex = index" class="col-lg-1 col-lg-offset-1">
                                        <input class="form-control" type="number" min="0" max="1" step="0.05" required
                                                [(ngModel)]="self.tempOptions.mapOptions[myIndex].borderHoverWeight" name="{{myIndex + (constants.getNumOrgUnits() * 14)}}">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label">Selected</label>

                                    <div *ngFor="let orgUnit of constants.nameToLevelMapping; let myIndex = index" class="col-lg-1 col-lg-offset-1">
                                        <input class="form-control" type="number" min="0" max="1" step="0.05" required
                                                [(ngModel)]="self.tempOptions.mapOptions[myIndex].borderSelectedWeight" name="{{myIndex + (constants.getNumOrgUnits() * 15)}}">
                                    </div>
                                </div>
                                <!-- CONTENT END -->
                            </div>
                        </div>
                    </div>
                </div>


                <input type="button" value="Close" class="btn btn-primary" (click)="onClose()">
                <input type="button" value="Reset to default options" class="btn btn-primary" (click)="onReset()">
                <input style="float: right;" type="submit" value="Save" class="btn btn-primary" [disabled]="!optionsForm.form.valid">
    
            </form>
                
        </div>
    </div>


