<div id="map">
    <navigator></navigator>
    <!--<marker></marker>-->


</div>

<div id="marker-buttons">
    <button id="add-marker" class="btn btn-default on-map" [class.btn-primary]="editing"
        title="Add Marker" (click)="toggleAddMarker()" btnCheckbox>
        <i class="fa fa-map-marker fa"></i>
    </button>

    <button id="remove-marker" class="btn btn-default on-map" [class.btn-primary]="removing"
            title="Remove Marker" (click)="removeMarker()" btnCheckbox>
        <i class="fa fa-trash fa"></i>
    </button>
</div>