<div class="panel panel-default" [class.dropup]="isOpened">
    <div class="panel-heading orgUnitHeader" role="tab" (click)="checkAndToggle()">
        <h4 class="panel-title">
            <a *ngIf="heading" role="button" data-toggle="collapse" [attr.aria-expanded]="isOpened">
                {{ heading }}
            </a>
            <ng-content select="accordion-heading"></ng-content>
        </h4>
    </div>
    <div *ngIf="isOpened" class="panel-collapse collapse in orgUnitBody" role="tabpanel" [attr.aria-labelledby]="heading">
        <div class="panel-body">
            <ng-content></ng-content>
        </div>
    </div>
</div>